@import "tailwindcss";

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

.custom-transition-effect {
    transition: background-color 0.3s ease-in-out;
}

.custom-transition-effect:has(a:hover) {
    background-color: #f0f0f0;
}

.wrap-break-word {
  word-break: break-word;
  overflow-wrap: break-word;
}